$background: #F6A592;

$blue: #2A96DA;
$white: #ffffff;
$dark_blue: #380CAD;
$pink: #F67EBE;
$dark: #000000;

$queue: #2A96DA20;
$development: #380CAD20;
$done: #F67EBE20;
$grey: #b5b5b5;

$duration: 0.2s;

$container-width: 95%;