@import './variables';
@import './libs/normalize';

body {
    background: $background;
}

#root {
    height: calc(100vh - 30px);
    margin-top: 15px;
    margin-bottom: 15px;
}


.wrapper {
    box-shadow: 0px 0px 46px 13px rgba(0, 0, 0, 0.1);
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    width: $container-width;
    background: $white;
    border-radius: 5px;
    margin: 0 auto;
    height: 100%;
    // height: calc(100vh - 30px);
}

.not_found {
    text-align: center;
    font-size: 68px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        margin-top: 30px;
        transform: rotate(180deg);

        span {
            transition: $duration;

            &:hover {
                color: $grey;
            }
        }
        
    }
}

.content {
    padding: 20px 40px;
    min-height: calc(100vh - 30px);
}

.missing {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__wrapper {
        padding: 50px;
        width: 250px;
        cursor: pointer;
        transition: ease $duration;

        span {
            display: block;
            font-size: 108px;
            transition: ease $duration;
        }

        &:hover {
            border-radius: 38% 62% 59% 41% / 30% 33% 67% 70% ;
            background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,126,190,0.2) 100%);

            span {
                color: $blue;
                transform: rotate(180deg);
            }

            p {
                color: $blue;
            }
        }
    }
}

.card_project {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;

    a {
        width: 20%;
    }

    &__item {
        padding: 100px;
        cursor: pointer;
        transition: ease $duration;
        
        p {
            color: $pink;
        }

        h2 {
            transition: ease $duration;
            text-transform: uppercase;
            font-weight: bold;
        }

        &:hover {
            border-radius: 65% 35% 47% 53% / 76% 68% 32% 24%;
            background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(42,150,218,0.2) 100%);

            h2 {
                color: $pink; 
            }
        }
    }
}

.button {
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;

    &__name {
        display: flex;
        flex-direction: column;
    }

    input {
        padding: 10px;
        border-radius: 3px;
        border: 1px solid $dark;
        background: $white;
        font-size: 14px;

        &:focus {
            background: #00000010;
        }
    }
}

.task {
    &__header {
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        & > * {
            width: 30%;
        }

        a {
            transform: rotate(180deg);

            span {
                font-size: 50px;
                color: $blue;
                transition: ease-in-out $duration;

                &:hover {
                    color: $grey;
                }
            }
        }


    }

    &__search {
        span {
            font-size: 20px;
        }

        input {
            border: 1px solid $grey;
            border-radius: 5px;
            padding: 5px;
            width: 20%;
            transition: $duration;

            &:focus {
                width: 60%;
            }
        }
    }

    &__blocks {
        padding: 0 20px 15px;
        display: flex;
        justify-content: space-between;
        gap: 40px;
        height: calc(100vh - 110px);
        
    }

    &__block {
        border-radius: 5px;
        width: 30%;
        height: 100%;
        
        &--queue {
            background: $queue;
        }
        &--development {
            background: $development;
        }
        &--done {
            background: $done;
        }

        .block {
            &__add {
                padding: 10px;
                text-align: center;
                cursor: pointer;
            }
        }
    }
}