@import './variables';
@import './libs/normalize';

body {
    background: $background;
}

#root {
    height: calc(100vh - 30px);
    margin-top: 15px;
    margin-bottom: 15px;
}


.wrapper {
    box-shadow: 0px 0px 46px 13px rgba(0, 0, 0, 0.1);
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    width: $container-width;
    background: $white;
    border-radius: 5px;
    margin: 0 auto;
    height: 100%;
}

.content {
    padding: 20px 40px;
    height: 100%;
}

.missing {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__wrapper {
        width: 250px;
        cursor: pointer;
        transition: ease $duration;

        span {
            display: block;
            font-size: 108px;
            transition: ease $duration;
        }

        &:hover {
            padding: 50px;
            border-radius: 38% 62% 59% 41% / 30% 33% 67% 70% ;
            background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,126,190,0.2) 100%);

            span {
                color: $blue;
                transform: rotate(180deg);
            }

            p {
                color: $blue;
            }
        }
    }
}

.card_project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;

    &__item {
        width: 20%;
        padding: 100px;
        cursor: pointer;
        transition: ease $duration;
        
        p {
            color: $pink;
        }

        h1 {
            transition: ease $duration;
        }

        &:hover {
            border-radius: 65% 35% 47% 53% / 76% 68% 32% 24%;
            background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(42,150,218,0.2) 100%);

            h1 {
                color: $pink; 
            }
        }
    }
}