// @import url(http://weloveiconfonts.com/api/?family=entypo);
// @import url(https://fonts.googleapis.com/css?family=Roboto);

// /* zocial */
// [class*="entypo-"]:before {
//   font-family: 'entypo', sans-serif;
// }

// *,
// *:before,
// *:after {
//   -moz-box-sizing: border-box;
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box; 
// }


// form {
//   position:relative;
//   margin: 50px auto;
//   width: 380px;
//   height: auto;
// }

// input {
//   padding: 16px;
//   border-radius:7px;
//   border:0px;
//   background: rgba(140, 140, 140, 0.2);
//   display: block;
//   margin: 15px;
//   width: 300px;  
//   color:rgb(129, 129, 129);
//   font-size:18px;
//   height: 54px;
// }

// input:focus {
//   outline-color: rgba(134, 134, 134, 0);
//   background: rgba(127, 127, 127, 0.95);
//   color: #e74c3c;
// }

// button {
//   float:right;
//   height: 121px;
//   width: 50px;
//   border: 0px;
//   background: #e74c3c;
//   border-radius:7px;
//   padding: 10px;
//   color:rgb(103, 103, 103);
//   font-size:22px;
// }

// .inputUserIcon {
//   position:absolute;
//   top:68px;
//   right: 80px;
//   color:rgb(117, 117, 117);
// }

// .inputPassIcon {
//   position:absolute;
//   top:136px;
//   right: 80px;
//   color:rgb(124, 124, 124);
// }

// input::-webkit-input-placeholder {
//   color: rgb(118, 118, 118);
// }

// input:focus::-webkit-input-placeholder {
//   color: #e74c3c;
// }

@import '../../styles/variables';

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;

    input {
        padding: 5px;
        border-radius: 3px;
        border: none;
        background: $pink;
        font-size: 14px;
    }
}